/* line 2, ../sass/helper.sass */
.absolute-max, #frame-106 .label, .intro-video, .intro-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

/* line 37, ../sass/helper.sass */
.absolute, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, #frame-109 .task-timer, .intro-pic .grade, .intro-pic .subject, .reg-box {
  position: absolute;
  background-size: auto 100%;
}

/* line 42, ../sass/helper.sass */
.z-1 {
  z-index: 1;
}

/* line 42, ../sass/helper.sass */
.z-2 {
  z-index: 2;
}

/* line 42, ../sass/helper.sass */
.z-3 {
  z-index: 3;
}

/* line 42, ../sass/helper.sass */
.z-4 {
  z-index: 4;
}

/* line 42, ../sass/helper.sass */
.z-5 {
  z-index: 5;
}

/* line 42, ../sass/helper.sass */
.z-6 {
  z-index: 6;
}

/* line 42, ../sass/helper.sass */
.z-7 {
  z-index: 7;
}

/* line 42, ../sass/helper.sass */
.z-8 {
  z-index: 8;
}

/* line 42, ../sass/helper.sass */
.z-9 {
  z-index: 9;
}

/* line 42, ../sass/helper.sass */
.z-10 {
  z-index: 10;
}

/* line 42, ../sass/helper.sass */
.z-11 {
  z-index: 11;
}

/* line 42, ../sass/helper.sass */
.z-12 {
  z-index: 12;
}

/* line 42, ../sass/helper.sass */
.z-13 {
  z-index: 13;
}

/* line 42, ../sass/helper.sass */
.z-14 {
  z-index: 14;
}

/* line 42, ../sass/helper.sass */
.z-15 {
  z-index: 15;
}

/* line 42, ../sass/helper.sass */
.z-16 {
  z-index: 16;
}

/* line 42, ../sass/helper.sass */
.z-17 {
  z-index: 17;
}

/* line 42, ../sass/helper.sass */
.z-18 {
  z-index: 18;
}

/* line 42, ../sass/helper.sass */
.z-19 {
  z-index: 19;
}

/* line 42, ../sass/helper.sass */
.z-20 {
  z-index: 20;
}

/* line 45, ../sass/helper.sass */
.transition-0-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* line 53, ../sass/helper.sass */
.transition-1s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-2s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-3s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-4s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-5s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-6s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-7s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-8s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-9s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 53, ../sass/helper.sass */
.transition-10s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 60, ../sass/helper.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*ANNOTATION */
/* line 71, ../sass/helper.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  padding: 3em 7em;
  font-size: 35%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 83, ../sass/helper.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 87, ../sass/helper.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 92, ../sass/helper.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 100, ../sass/helper.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 103, ../sass/helper.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 90%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 112, ../sass/helper.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 115, ../sass/helper.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 118, ../sass/helper.sass */
#frame-000 .copyright {
  z-index: 23;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 15%;
  color: black;
}

/*FRAME-106 */
/* line 130, ../sass/helper.sass */
#frame-106 .label {
  z-index: 4;
  background-image: url(../pics/s6-label.png);
}

/*INTRO VIDEO */
/* line 137, ../sass/helper.sass */
.intro-video {
  background-color: white;
  z-index: 25;
}

/*FRAME-109 */
/* line 144, ../sass/helper.sass */
#frame-109 .task-timer {
  left: 5%;
  top: 5%;
  width: 10%;
  height: 20%;
  font-size: 30%;
  font-weight: bold;
  color: white;
}

/*INTRO PIC */
/* line 154, ../sass/helper.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 159, ../sass/helper.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 167, ../sass/helper.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 70%;
  color: #666564;
  text-align: left;
}

/* line 175, ../sass/helper.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}

/*REG BOX */
/* line 181, ../sass/helper.sass */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 197, ../sass/helper.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 95%;
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 201, ../sass/helper.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 206, ../sass/helper.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 216, ../sass/helper.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em;
}

/* line 225, ../sass/helper.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*INTRO VIDEO */
/* line 231, ../sass/helper.sass */
.intro-video {
  display: block;
  z-index: 25;
}

/*INTRO PIC */
/* line 238, ../sass/helper.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 243, ../sass/helper.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 251, ../sass/helper.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 45%;
  color: #666564;
  text-align: left;
}

/* line 259, ../sass/helper.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}
