
.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	
@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height

@mixin transition($sec)
	transition: all $sec
	-moz-transition: all $sec
	-ms-transition: all $sec
	-o-transition: all $sec
	-webkit-transition: all $sec

@mixin border-radius($radius)
	-moz-border-radius: $radius
	-o-border-radius: $radius
	-webkit-border-radius: $radius
	border-radius: $radius

.absolute
	position: absolute
	background-size: auto 100%
	
@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}

.transition-0-5s
	transition: all 0.5s
	-moz-transition: all 0.5s
	-ms-transition: all 0.5s
	-o-transition: all 0.5s
	-webkit-transition: all 0.5s
		
@for $i from 1 through 10
	.transition-#{$i}s
		transition: all 2s
		-moz-transition: all 2s
		-ms-transition: all 2s
		-o-transition: all 2s
		-webkit-transition: all 2s
		
.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-o-box-sizing: border-box
	-webkit-box-sizing: border-box
	
*
	@extend .border-box
	
	
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 35%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 90%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button:hover
	color: blue
	
#frame-000 .annotation-button-close
	color: gray

#frame-000 .copyright
	@extend .absolute
	z-index: 23
	left: 77%
	top: 96%
	width: 23%
	height: 5%
	font-size: 15%
	color: #000

/*FRAME-106*/

#frame-106 .label
	@extend .absolute-max
	z-index: 4
	background-image: url(../pics/s6-label.png)

/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	background-color: white
	z-index: 25
	
/*FRAME-109*/
	
#frame-109 .task-timer
	@extend .absolute
	@include pos-and-size-2(5%, 5%, 10%, 20%)
	font-size: 30%
	font-weight: bold
	color: white
	

/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 24

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 70%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light

/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 750px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	font-family: Verdana
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10
	font-family: Verdana

.reg-box.topcorner
	@include pos(30px, 950px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center

.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	font-family: Verdana
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	width: 10em
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white

/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	display: block
	z-index: 25
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 24

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 45%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light	